@import "../../styles/variables.scss";

.like-button {
    @include margin-padding-reset;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;

    &::after {
      content: attr(data-tooltip);
      position: absolute;
      bottom: 120%;
      left: 50%;
      transform: translateX(-50%);
      background: rgba(0, 0, 0, 0.8);
      color: white;
      padding: 5px 10px;
      border-radius: 4px;
      font-size: 12px;
      white-space: nowrap;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s, visibility 0.3s;
      pointer-events: none;
      z-index: 1000;
    }
  
    &:hover::after {
      opacity: 1;
      visibility: visible;
    }

    @media(max-width: 1000px){
        &::after{
            display: none;
        }
    }
  }

.like-social-icon{
    cursor: pointer;
    width: 24px;
    height: 22px;
}

.like-social-icon.active{
    --like-stroke: #{$primary-color};
    --like-fill: #{$primary-color};
    animation: scaleIn .3s ease;
}

@keyframes scaleIn {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}