@import '../../styles/variables.scss';

.card {
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;

    &-text{
      padding-bottom: 2px;
    }

    &-text--metro{
      margin-right: 5px;
    }
  }

  &__info-item{
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__info-item:not(:last-child){
    margin-right: 30px;
  }

  @media (max-width: 1000px){
    &__info {
      flex-direction: column;
      align-items: flex-start;
      font-size: 14px;
      margin-bottom: 0px;
    }

    &__info-item:not(:last-child){
      margin-right: 0px;
    }
  }
}

.social-icon{
  margin-right: 10px;
}

.location-social-icon{
  width: 15px;
  height: 18px;
}

.route-social-icon{
  width: 14px;
  height: 15px;
}

.metro-social-icon{
  width: 22px;
  height: 20px;
}