/* ============= VARIABLES ============= */

$primary-color: #FF4338;
$primary-button-color: #F2352A;
$main-red-color:#FF5D54;
$white-color: #ffffff;
$black-color: #131921;
$grey-color: #898C90;

$container-max-width: 1320px;

/* ============= MIXINS ============= */

@mixin responsive-font($min-size, $max-size) {
    font-size: clamp(#{$min-size}, 2vw, #{$max-size});
}

@mixin margin-padding-reset{
  margin: 0;
  padding: 0;
}

@mixin button-base {
    display: inline-block;
    color: $white-color;
    background-color: $primary-button-color;
    padding: 21px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background-color: $primary-color;
    }
}