@import '../../styles/variables.scss';

.sticker{
    width: 58px;
    height: 58px;
    background-color: $main-red-color;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $white-color;
}

.home-social-icon{
    width: 20px;
    height: 21px;
}

@media (max-width: 768px){
    .sticker{
        width: 38px;
        height: 38px;
        border: 1px solid $white-color;
    }

    .home-social-icon{
        width: 14px;
        height: 14px;
    }
}