@import '../../styles/variables.scss';

.card {
  width: 31%;
  background: $white-color;
  overflow: hidden;

  &__content{
    width: 100%;
  }
  
  &__image {
    position: relative;
    width: 100%;
    height: 348px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    
    &-content{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      &-header{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 15px;
      }

      &-description-wrapper{
        max-height: 96px;
        overflow-y: auto;
        margin-top: auto;
        background-color: #00000080;
        padding: 15px;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);

        &::-webkit-scrollbar {
          width: 4px;
        }
        
        &::-webkit-scrollbar-track {
          background: rgba(255, 255, 255, 0.1);
          border-radius: 2px;
        }
        
        &::-webkit-scrollbar-thumb {
          background: rgba(255, 255, 255, 0.3);
          border-radius: 2px;
          
          &:hover {
            background: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }

  &__title-wrapper{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  &__title {
    max-width: 90%;
    color: $black-color;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0px;
    margin-bottom: 15px;
    transition: color .2s ease;
  }

  &__title.favourite{
    color: $primary-color;
  }
  
  &__description {
    font-size: 14px;
    color: $white-color;
    line-height: 1.5;
  }

  &__button{
    margin-bottom: 15px;
  }

  @media (max-width: 1000px){
    width: 100%;
    display: flex;

    &__image {
        max-width: 334px;
        min-width: 50%;
        height: 277px;
        margin-bottom: 0px;
        margin-right: 20px;
    }

    &__title{
      font-size: 18px;
      line-height: 130%;
      letter-spacing: 0px;
    }

    &__button{
      display: none;
    }

    &__image-content-description-wrapper{
      display: none;
    }
  }

  @media (max-width: 425px){
    flex-direction: column;
    
    &__image {
        max-width: 100%;
        height: 249px;
        margin-bottom: 10px;
        margin-right: 0px;
    }
  }
}