@import '../../styles/variables.scss';

.card {
  width: 31%;
  background: $white-color;
  overflow: hidden;

  &__content{
    width: 100%;
  }
  
  &__image {
    position: relative;
    width: 100%;
    height: 348px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    &-content{
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      padding: 15px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__title-wrapper{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  &__title {
    max-width: 90%;
    color: $black-color;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0px;
    margin-bottom: 15px;
  }
  
  &__description {
    font-size: 14px;
    color: $white-color;
    line-height: 1.5;
  }

  &__button{
    margin-bottom: 15px;
  }
  
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;

    &-text{
      padding-bottom: 2px;
    }

    &-text--metro{
      margin-right: 5px;
    }
  }

  &__info-item{
    width: fit-content;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  &__info-item:not(:last-child){
    margin-right: 30px;
  }

  @media (max-width: 768px){
    width: 100%;
    display: flex;

    &__image {
        max-width: 334px;
        min-width: 50%;
        height: 277px;
        margin-bottom: 0px;
        margin-right: 20px;
    }

    &__title{
      font-size: 18px;
      line-height: 130%;
      letter-spacing: 0px;
    }

    &__info {
      flex-direction: column;
      align-items: flex-start;
      font-size: 14px;
    }

    &__info-item:not(:last-child){
      margin-right: 0px;
    }
  }

  @media (max-width: 425px){
    flex-direction: column;
    
    &__image {
        max-width: 100%;
        height: 249px;
        margin-bottom: 10px;
        margin-right: 0px;
    }
  }
}

.social-icon{
  margin-right: 10px;
}

.empty-like-social-icon{
  cursor: pointer;
  width: 24px;
  height: 22px;
}

.location-social-icon{
  width: 15px;
  height: 18px;
}

.route-social-icon{
  width: 14px;
  height: 15px;
}

.metro-social-icon{
  width: 22px;
  height: 20px;
}