@import '../../styles/variables.scss';

.button{
    @include button-base;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    position: relative;

    &::after {
        content: attr(data-link);
        position: absolute;
        bottom: -50%;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 12px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        pointer-events: none;
        z-index: 1000;
        text-transform: lowercase;
      }
    
      &:hover::after {
        opacity: 1;
        visibility: visible;
      }
}