@import '../../styles/variables.scss';

.rating-stars{
    width: fit-content;
    display: flex;
    align-items: center;

    &__value{
        font-family: "Roboto", sans-serif;
        color: $black-color;
        font-size: 14px;
        font-weight: 400;
        margin-left: 6px;
        line-height: 100%;
        letter-spacing: 0px;
    }
}

.rating-star{
    min-width: 16px;
    min-height: 16px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}