@import "../../styles/variables.scss";

.card-options{
    display: flex;
    align-items: center;
    padding: 13px 24px;
    background-color: $white-ghost-color;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @media (max-width: 768px){
        min-height: 34px;
        padding: 6px 10px;
    }
}

.card-option{
    padding: 0px;
    border: none;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    &::after {
        content: attr(aria-label);
        position: absolute;
        bottom: -180%;
        left: 50%;
        transform: translateX(-50%);
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 12px;
        white-space: nowrap;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0.3s;
        pointer-events: none;
        z-index: 1000;
      }
    
      &:hover::after {
        opacity: 1;
        visibility: visible;
      }

    &:not(:last-child){
        margin-right: 25px;
    }

    @media (max-width: 768px){
        &:not(:last-child){
            margin-right: 20px;
        }
        &::after{
            display: none;
        }
    }
}

.image-social-icon{
    width: 22px;
    height: 19px;

    @media (max-width: 768px){
        width: 19px;
        height: 14px;
    }
}

.review-social-icon{
    width: 30px;
    height: 19px;

    @media (max-width: 768px){
        width: 18px;
        height: 14px;
    }
}

.video-social-icon{
    width: 22px;
    height: 19px;

    @media (max-width: 768px){
        width: 20px;
        height: 14px;
    }
}