@import "../../styles/variables.scss";

.card-options{
    display: flex;
    align-items: center;
    padding: 13px 24px;
    background-color: $white-ghost-color;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    @media (max-width: 768px){
        min-height: 34px;
        padding: 6px 10px;
    }
}

.card-option{
    padding: 0px;
    border: none;
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:not(:last-child){
        margin-right: 25px;
    }

    @media (max-width: 768px){
        &:not(:last-child){
            margin-right: 20px;
        }
    }
}

.image-social-icon{
    width: 22px;
    height: 19px;

    @media (max-width: 768px){
        width: 19px;
        height: 14px;
    }
}

.review-social-icon{
    width: 30px;
    height: 19px;

    @media (max-width: 768px){
        width: 18px;
        height: 14px;
    }
}

.video-social-icon{
    width: 22px;
    height: 19px;

    @media (max-width: 768px){
        width: 20px;
        height: 14px;
    }
}